Repository strekmann/nidarholmjs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_code, build_image, build_mailman_sync, deploy_image

.gitlab-ci.yml:

cache:
  key: ${CI_JOB_NAME}
  paths:
    - node_modules/
    - .yarn

stages:
  - build
  - deploy

build_code:
  image: node:14-alpine
  stage: build
  script:
    - time apk add --no-cache make g++ gcc python imagemagick
    - yarn install --frozen-lockfile --production
    - cp -r node_modules node_modules_production
    - yarn install --frozen-lockfile
    - yarn build-project
    - mv node_modules_production dist/node_modules
  artifacts:
    name: "$CI_COMMIT_REF_SLUG"
    paths:
      - dist/
  only:
    refs:
      - pushes
    changes:
      - "src/**/*"
  interruptible: true

build_image:
  image: fedora
  stage: build
  needs:
    - job: build_code
      artifacts: true
  script:
    - time dnf install -y buildah podman
    - set -x
    - export STORAGE_DRIVER=vfs
    - img=$(buildah from node:14-alpine)
    - buildah config --port 3000 "$img"
    - buildah config --user node "$img"
    - buildah config --workingdir /home/node "$img"
    - buildah copy --chown=node:node "$img" ./dist dist
    - buildah copy --chown=node:node "$img" ./config dist/config
    - buildah copy --chown=node:node "$img" $N_PRODUCTION_CONFIG_JS dist/config/production.js
    - buildah config --workingdir /home/node/dist "$img"
    - buildah config --entrypoint '["node", "server/index.js"]' "$img"
    - buildah commit "$img" "nidarholm"
    - buildah rm "$img"
    - podman push --creds $N_WRITE_REGISTRY localhost/nidarholm docker://registry.gitlab.com/strekmann/nidarholmjs:latest
  only:
    refs:
      - pushes
    changes:
      - "src/**/*"

build_mailman_sync:
  image: rust:stretch
  stage: build
  script:
    - apt update
    - apt install -y pkg-config
    - cargo build --release
  artifacts:
    name: "$CI_COMMIT_REF_SLUG"
    paths:
      - target/release
  only:
    refs:
      - pushes
    changes:
      - "mailman-sync/**/*"

deploy_image:
  image: debian
  stage: deploy
  needs:
    - job: build_image
  script:
    - "which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )"
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - echo "$SSH_KNOWN_HOSTS" >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - ssh -p 2022 leigh.strekmann.no podman pull --creds $N_READ_REGISTRY docker://registry.gitlab.com/strekmann/nidarholmjs:latest
    - ssh -p 2022 leigh.strekmann.no systemctl restart nidarholm-web.service
  only:
    refs:
      - pushes
    changes:
      - "src/**/*"

refactor: use cargo workspace
  .eslintrc.json
  .gitlab-ci.yml
  Cargo.toml
  Dockerfile
  mailman-sync/Cargo.toml
  mailman-sync/Dockerfile
  mailman-sync/src/api/database.rs
  mailman-sync/src/api/mailman.rs
  mailman-sync/src/api/mod.rs
  mailman-sync/src/api/nidarholm.rs
  mailman-sync/src/main.rs
  src/common/components/App.tsx
Due: build_code, build_image, build_mailman_sync, deploy_image

clippy help
  mailman-sync/src/api/database.rs
  mailman-sync/src/main.rs
Due: build_mailman_sync

log error instead of panicking in `subscribe`
  mailman-sync/src/api/mailman.rs
Due: build_mailman_sync

lowercase email addresses and list ids
  mailman-sync/src/api/mailman.rs
Due: build_mailman_sync

refactor to make it readable
  mailman-sync/src/api/database.rs
  mailman-sync/src/api/mailman.rs
  mailman-sync/src/api/nidarholm.rs
  mailman-sync/src/main.rs
Due: build_mailman_sync

old build image cannot use match inside const fn
  mailman-sync/src/api/mailman.rs
Due: build_mailman_sync

add member export, secure it, fix other stuff
  package.json
  src/common/components/Members.tsx
  src/server/index.ts
  src/server/memberRoutes.ts
  src/server/models/File.ts
  src/server/models/Organization.ts
  src/server/models/Piece.ts
  src/server/models/User.ts
  src/server/musicRoutes.ts
  tsconfig.json
  yarn.lock
Due: build_code, build_image, deploy_image

Updates to member export
  Vagrantfile
  src/server/memberRoutes.ts
Due: build_code, build_image, deploy_image

add more fields to music archive export
  src/server/musicRoutes.ts
Due: build_code, build_image, deploy_image

log user map
  mailman-sync/src/main.rs
Due: build_mailman_sync

Migrate to local config lib
  .eslintrc.json
  .gitignore
  package.json
  src/config.ts
  src/server/emailTasks.ts
  src/server/index.ts
  src/server/lib/findFilePath.js
  src/server/lib/passport.js
  src/server/renderPage.ts
  src/server/schema.js
  src/util.ts
  yarn.lock
Due: build_code, build_image, deploy_image

Finish migration from node-uuid to uuid
  package.json
  src/server/lib/persistentLoginMiddleware.js
  src/server/models/OrganizationEventGroupResponsibility.ts
  src/server/models/OrganizationEventPersonResponsibility.ts
  src/server/models/Piece.ts
  src/server/models/RememberMeToken.js
  src/server/models/Role.js
  yarn.lock
Due: build_code, build_image, deploy_image

Build in docker
  .dockerignore
  .gitlab-ci.yml
  Dockerfile
  package.json
  postcss.config.js
  src/common/components/ContactUser.tsx
  src/common/components/Files.tsx
  src/config.ts
  src/server/lib/persistentLoginMiddleware.js
  src/server/models/OrganizationEventGroupResponsibility.ts
  src/server/models/OrganizationEventPersonResponsibility.ts
  src/server/models/Piece.ts
  src/server/models/RememberMeToken.js
  src/server/models/Role.js
  src/server/schema.js
  webpack.production.config.js
  yarn.lock
Due: build_code, build_image, deploy_image

WIP: fix config, etc. not completely working.
  package.json
  src/config.ts
  src/server/index.ts
  src/server/lib/findFilePath.js
  src/server/lib/saveFile.js
  yarn.lock
Due: build_code, build_image, deploy_image

wip: insertFile and saveFile with typing
  package.json
  src/server/lib/insertFile.ts
  src/server/lib/saveFile.ts
  src/util.ts
  yarn.lock
Due: build_code, build_image, deploy_image

hide some pictures
  .gitignore
  src/server/schema.js
Due: build_code, build_image, deploy_image

file upload seems to work
  src/common/components/Files.tsx
  src/common/components/GroupscoreUpload.tsx
  src/common/components/ProfilePicture.tsx
  src/common/components/Project.tsx
  src/common/mutations/AddScore.tsx
  src/server/lib/insertFile.ts
  src/server/lib/saveFile.ts
  src/server/schema.js
Due: build_code, build_image, deploy_image

Config changes
  src/config.ts
  src/server/lib/db.ts
  src/server/schema.js
Due: build_code, build_image, deploy_image

Update readme
  README.md
Due: none

Update rust mongodb
  .gitlab-ci.yml
  Cargo.lock
  mailman-sync/Cargo.toml
  mailman-sync/Dockerfile
  mailman-sync/src/api/database.rs
  mailman-sync/src/api/mailman.rs
  mailman-sync/src/api/nidarholm.rs
  mailman-sync/src/main.rs
Due: build_mailman_sync

Use cargo-chef for building
  mailman-sync/Dockerfile
Due: build_mailman_sync

Fix gitlab ci setup and docker binary path
  .gitlab-ci.yml
  mailman-sync/Dockerfile
Due: build_mailman_sync

Update dependencies to get newer tokio
  .gitlab-ci.yml
  Cargo.lock
  mailman-sync/Cargo.toml
Due: build_mailman_sync

Remove println
  mailman-sync/src/main.rs
Due: build_mailman_sync

add lightship, some cleanup
  .gitlab-ci.yml
  package.json
  src/server/index.ts
  yarn.lock
Due: build_code, build_image, deploy_image

trigger build
  src/server/index.ts
Due: build_code, build_image, deploy_image

use older lightship, newer node
  Dockerfile
  package.json
  src/server/index.ts
  yarn.lock
Due: build_code, build_image, deploy_image

sponsor
  src/common/components/Home.tsx
  src/static/img/spons/Reitan_CMYK_Blue.png
  src/static/img/spons/Reitan_RGB_Blue.png
Due: build_code, build_image, deploy_image

remove unused files
  Makefile
  Vagrantfile
  ansible.cfg
  ansible/config.production.js.j2
  ansible/deploy.yml
  ansible/group_vars/all/vars.yml
  ansible/group_vars/backup/vars.yml
  ansible/group_vars/remote/vault.yml
  ansible/group_vars/web/vars.yml
  ansible/group_vars/web/vault.yml
  ansible/inventory/production
  ansible/inventory/vagrant.py
  ansible/mailname.j2
  ansible/nginx.http.j2
  ansible/nginx.https.j2
  ansible/service.j2
  ansible/setup.yml
  build.sh
  cluster.js
  container-nidarholm-web.service
  nidarholm-database.service
  nidarholm-web.service
Due: none

Catch database connection errors
  src/server/index.ts
  src/server/lib/db.ts
  yarn.lock
Due: build_code, build_image, deploy_image

Bring back config of poster images
  src/common/components/FileItem.tsx
  src/common/components/Project.tsx
Due: build_code, build_image, deploy_image

Remove sponsor from image
  src/common/components/Home.tsx
Due: build_code, build_image, deploy_image

New top image
  src/common/components/Home.tsx
  src/static/img/nidarholm-kimen.jpg
Due: build_code, build_image, deploy_image

Update menu and serviceworker
  src/common/components/Logo.tsx
  src/common/components/Navigation.tsx
  src/static/scss/styles.scss
  src/sw.js
Due: build_code, build_image, deploy_image

tweaks for project page
  src/common/components/Project.tsx
Due: build_code, build_image, deploy_image

larger standard font size
  src/static/scss/styles.scss
Due: build_code, build_image, deploy_image

fixes to music list
  src/common/components/MusicItem.tsx
  src/common/components/MusicList.tsx
Due: build_code, build_image, deploy_image

Update social links to use icons
  src/common/components/FacebookIcon.tsx
  src/common/components/Footer.tsx
  src/common/components/InstagramIcon.tsx
Due: build_code, build_image, deploy_image

Remove contact form and activity list
  src/common/components/Footer.tsx
  src/common/components/Home.tsx
  src/static/scss/styles.scss
Due: build_code, build_image, deploy_image

Remove "files" from menu
  src/common/components/Navigation.tsx
Due: build_code, build_image, deploy_image
